* {
    box-sizing: border-box;
}


/* elements */

html {
    font-size: 62.5%;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #444;
    font-family: serif;
    font-size: 1.6rem;
}
h1 {
    margin-top: 0;
    color: #222;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 1.25;
}
h2 {
    margin-bottom: .5rem;
    color: #222;
    font-family: sans-serif;
}
h3 {
    margin-bottom: .5rem;
    color: #222;
    font-weight: normal;
    font-family: sans-serif;
}
p {
    margin-top: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style-position: inside;
    padding-left: 1rem;
}
li {
    margin-bottom: .75rem;
}
@media (min-width: 48em) {
    ul, ol {
        list-style-position: outside;
        padding-left: 3rem;
    }
}
pre {
    padding: 1em;
    background-color: #eee;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    overflow-x: auto;
}
code {
    font-size: 1.3rem;
}
.textarea {
  width: 100%;
}
.textarea--code {
    font-family: mono;
    font-size: .875em;
}
.meta {
    margin: 0;
    overflow: hidden;
}
.meta__label,
.meta__data {
    display: inline;
    float: left;
    margin: 0;
    font-size: 1rem;
    color: #666;
}
.meta__label {
    margin-right: .5em;
}
.meta__label--tag {
    display: none;
}
.meta__data {
    margin-right: .5em;
}
.time {
    font-style: italic;
}
/*
.meta dt::after {
     content: ':';
}
*/
.tag {
    display: inline-block;
    padding: 3px;
    line-height: 1;
    font-family: sans-serif;
    background-color: #eee;
    border: 1px solid #ddd !important;
    border-radius: 5px;
}
.tag:hover {
    border: 1px solid #aaa !important;
}


/* global classes */


/* page structure */

.menu {
    position: fixed;
    width: 100%;
    padding: 2rem;
    text-align: left;
    background-color: #222;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% auto;
}

.content {
    padding: 2rem;
    padding-top: 6em;
    line-height: 1.625;
}
.content > header {
    margin-bottom: 1em;
}
.content .list {
    max-width: 100%;
}
.content,
.content .list article {
    max-width: 85rem;
}
footer.site {
    width: 100%;
    padding: 2rem;
    color: #555;
    font-size: 1rem;
}
footer.site .meta {
    float: right;
}
footer.site p {
    color: white;
}


/* header and nav menu */


.menu__link,
.menu__link--title {
    display: block;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: .2rem;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out 0s;
}
.menu__group {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear 0s;
}
.menu__link {
    color: #aaa;
    margin-bottom: 1rem;
}
.menu__link:hover,
.menu__link--active,
.menu__link--section {
    color: #ff3333;
}
.menu__link--title {
    margin-bottom: 0;
    text-align: left;
    color: white;
}
.menu__link--nested {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 1em;
}

.menu__toggle {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    overflow: hidden;
}
.menu__toggle::focus {
    outline: none;
}
.menu__toggle span {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 3px;
    background: white;
    transition: background 0s 0.3s;
}
.menu__toggle span::before,
.menu__toggle span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}
.menu__toggle span::before {
    top: -8px;
    transition-property: top, transform;
}
.menu__toggle span::after {
    bottom: -8px;
    transition-property: bottom, transform;
}
.menu--active {
    position: absolute;
    top: 0;
    height: 100%;
}

.menu--active .menu__toggle span {
    background: none;
}

.menu--active .menu__toggle span::before {
    top: 0;
    transform: rotate(45deg);
}

.menu--active .menu__toggle span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menu--active .menu__toggle span::before,
.menu--active .menu__toggle span::after {
    transition-delay: 0s, 0.3s;
}
.menu--active .menu__group {
    height: auto;
    visibility: visible;
    opacity: 1;
    padding-top: 2rem;
}
.menu--active .menu__link {
    display: block;
}
.menu--active .menu__link + .menu__group {
    padding-top: 0;
}

/* Flip to side menu */

@media (min-width: 48em) {
    .menu {
        top: 0;
        left: 0;
        bottom: 0;
        width: 21vw;
        padding: 2rem;
    }
    .content {
        padding-top: 2em;
        margin-left: 22vw;
    }
    .menu__link--title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.7vw;
    }
    .menu__link {
        font-size: 2.7vw;
    }
    .menu__link--nested {
        font-size: 1.5rem;
        line-height: 1.1;
    }
    .menu__group {
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    .menu__toggle {
        display: none;
    }
    .menu__link + .menu__group {
        display: none;
    }
    .menu__link--active + .menu__group {
        display: block;
    }
}


/* content area */

.content a {
    border-bottom: 1px solid #aaa;
}
.content a[target="_blank"] {
    border-bottom: 1px dashed #aaa;
}
.content a:hover,
.content a[target="_blank"]:hover {
    border-bottom: 1px solid #555;
}
.content--article {
    margin-bottom: 2rem;
}
article.filtered {
    display: none !important;
}
.header--article {
    margin-bottom: 2rem;
}
.footer--article {
    margin-top: 1em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.list article header {
    margin-bottom: 1rem;
}

#TableOfContents {
    display: none;
    position: fixed;
    left: 128rem;
    left: calc(22vw + 85rem);
    top: 10rem;
    width: 30rem;
    padding: 1rem;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#TableOfContents ul {
    list-style: none;
    padding: 0;
}
@media (min-width: 96rem) {
    #TableOfContents {
        display: block;
    }
}



/* posts */

.posts .list  {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}
.posts .list article {
    display: inline-block;
    break-inside: avoid-column;
    break-before: column;
}

.dict article {
    white-space: pre;
}

/* forms */

fieldset {
    padding: 0;
    border-left: none;
    border-right: none;
}
fieldset.aligned label {
    width: 14em;
    float: left;
    padding-right: .5em;
}
input {
    margin-bottom: .5em;
    padding-left: .25em;
    padding-right: .25em;
    line-height: 1.5;
}
input[type=number] {
    width: 6em;
}

@media (min-width: 50em) {
    fieldset {
        padding: 1em;
    }
    fieldset.aligned label {
        text-align: right;
    }
}
