{{ partial "head.html" . }}
<body>

  {{ partial "body-header.html" . }}

  <section class="content">
    <article class="content__article">
      <header class="header header--article">
        <h1 class="header__title">{{ .Title }}</h1>
      </header>

      {{ .Content }}

    </article>

    <!--
    <p>See also:</p>

    {{ range .Data.Pages }}
    <article>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if .Params.tags }}
      <dl class="meta">
        <dt class="tags">Tagged</dt>
        <dd class="tags">
        {{ range .Params.tags }}
        <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        </dd>
      </dl>
      {{ end }}
    </article>
    {{ end }}
    -->

  </section>

  {{ partial "footer.html" . }}

</body>
</html>
