{{ partial "head.html" . }}

<body>

  {{ partial "body-header.html" . }}

  <section class="content">
    <article class="content__article">
      <header class="header header--article">
        <h1 class="header--title">{{ .Title }}</h1>
        {{ partial "meta-tags.html" . }}
      </header>

      {{ .Content }}

      <footer class="footer--article">
        {{ partial "meta-time.html" . }}
      </footer>
    </article>
  </section>

  {{ partial "footer.html" . }}

</body>
</html>
