<!DOCTYPE html>
<html lang="en-au">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta charset="UTF-8">
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="shortcut icon" href="/favicon.png">
</head>
