{{ if .Params.tags }}
<dl class="meta">
  <dt class="meta__label meta__label--tag">Tagged</dt>
  <dd class="meta__data meta__data--tag">
  {{ range .Params.tags }}
  <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
  </dd>
</dl>
{{ end }}
