<dl class="meta">
    <dt class="time">Updated</dt>
    <dd class="time">
    {{ if ne .Lastmod .Date }}
    <time class="updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">
        {{ .Lastmod.Format "2006-01-02" }}
    </time>
    {{ else }}
    <time class="created" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
        {{ .Date.Format "2006-01-02" }}
    </time>
    {{ end }}
    </dd>
    {{ if .Params.tags }}
    <dt class="tags">Tagged</dt>
    <dd class="tags">
    {{ range .Params.tags }}
    <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ end }}
    </dd>
</dl>
