{{ partial "head.html" . }}

<body class="error">

    {{ partial "body-header.html" . }}

    <section class="content">

        <h1>Page not found</h1>

        <p>You find yourself at the end of a short dark passage. <a href="{{ .Site.BaseURL }}">Return to the brightly lit cavern</a> and continue your journey.</p>
    </section>

    {{ partial "footer.html" . }}

</body>
</html>
