{{ partial "head.html" . }}

<body class="projects">

    {{ partial "body-header.html" . }}

    <section class="content">
        <header>
            <h1>Projects</h1>
        </header>

        {{ .Content }}

        <div class="list">
            {{ range .Data.Pages.ByWeight }}
            <article class="content--article article--list project">
                <header>
                    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    {{ partial "meta-tags.html" . }}
                </header>

                {{ .Summary }}

                <footer>
                </footer>

            </article>
            {{ end }}
        </div>

    </section>

    {{ partial "footer.html" . }}

</body>
</html>
